@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400i|Questrial');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@font-face {
  font-family: 'Krinkes';
  src: url('../fonts/krinkes.eot');
  src: url('../fonts/krinkes.eot?#iefix') format('embedded-opentype'),
  url('../fonts/krinkes.woff') format('woff'),
  url('../fonts/krinkes.ttf') format('truetype'),
  url('../fonts/krinkes.svg#cuprumffuregular') format('svg');
  font-weight: normal;
  font-style: normal;
}